@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  /* display: flex; */
  justify-content: center; 
  height: 100vh;
  align-items: center;
  background: whitesmoke;
}

*{
  margin:0px;
  padding: 0px;
  font-family: sans-serif;
}

img{
  height: 350px;
  width: 350px;
  border-radius: 3px;
}

h1{
  margin: 10px;
  font-size: 40px;

}

p{
  margin: 20px;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
}

fieldset{
  visibility: hidden;
}

.card-lookup{
  font-weight: bold;
  visibility: hidden;
}

.card:hover{
  cursor: pointer;
}

.card:hover .intro{
  height: 300px;
  bottom: 178px;
  background:black;
}

.card:hover p{
  opacity: 1;
  visibility :visible;
}

.card:hover fieldset{
  visibility: visible;
  opacity: 1;
}

.card:hover img{
  transform: scale(1.1) ;
}

.card:hover .card-lookup{
  visibility: visible;
  opacity: 1;
}

.intro{
  height: 70px;
  width: 279px;
  padding: 6px;
  box-sizing: border-box;
  position:absolute;
  bottom: 177px;  
  background: rgb(27, 27, 27,.5);
  color: white;
  transition: .5s;
}

.card{
  height: 500px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}
.container{
  display: flex;
}

.events {
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #ffa300;
}

.events .event {
  width: 300px;
  border: 1px solid #ebf1f6;
  box-shadow: 0 0 2px 0 rgba(145,158,171,.2), 0 12px 24px -4px rgba(145,158,171,.12);
}

.event-title {
  padding: 30px;
  color: #ffa300
  
}

.event img {
  height: 150px;
}

#ticketType {
  width: 100%;
}

.actions {
  flex-wrap: wrap;
}

.quantity {
  margin: 12px auto;
}

#page-header {
  background-color: #ffea83;
  position: sticky;
  top: 0;
}

.link-item {
  color: #ffa300
}

.logo {
  height: 100px;
  padding: 6px;
  
}

.add-btn {
  background-color: #ffa300;
}

.add-to-cart-btn {
  background: #ffa300;
  margin: 22px auto;
  display: block;
  width: 100%;
}

.main-content-component {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  text-align: center;
}

.custom-image-size {
  width: 500px; /* Ajustați dimensiunea dorită */
  height: 500px; /* Ajustați dimensiunea dorită */
  padding-left: 30px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  text-align: center;
  
}

.description{
  padding-left: 30px;
  color:#ffa300 ;
}

.events {
  display: block;
  text-align: center;
  background-color: #f4f4f4; /* Adăugăm culoarea de fundal gri */
  padding: 20px 0; /* Ajustăm spațiul în jurul conținutului */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adăugăm umbre */
}

.event-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px auto;
  width: 50%;
  max-width: 400px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  z-index: 1;
}

.event-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffa300;
  text-align: center;
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0; 
}
.description {
  color: #555;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: left;
}
.event-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.top-header {
  background-color: #ffea83;
  position: sticky;
  top: 0;
  z-index: 1000; /* Asigurăm că antetul este peste conținut */
}

.filter-btn{
  background-color: #555;
}

.xmark:hover{
  color:red;
}

.check:hover{
  color: greenyellow;
}

.trash{
  color: red;
}


